<?xml version="1.0"?>
<!--
/**
 * Copyright © TrackStreet, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="TrackStreet_Core::config" title="TrackStreet, Inc. Configuration" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::marketing">
                    <resource id="TrackStreet_Core::admin" title="TrackStreet, Inc." translate="title" sortOrder="100">
                        <resource id="TrackStreet_Core::dashboard" title="Dashboard" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>